.contenedor-aulas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    background-color: #ffffff45;
    box-shadow: 0 3px 13px 1px rgb(0 0 0/9%);
}

.imagen-aulas{
    width: auto;
    height: 100%;
}

.contenedor-texto-aulas{
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 1em;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
}

.title-box-aulas{
    font-size: 1rem;
}

.description-box-aula{
    font-family: 'Courier New', Courier, monospace;
}

.box-class-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.646);
    box-shadow:1px 1px 7px -3px #1e1e1e;
}
