.button-contenedor{
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}
.button-name{
    font-size: 1em;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box-class-image{
    width: 100%;
    height: auto;
    max-height: 26vh;
    border-radius: 10px 10px 0 0;
}