.footer-contenedor{
    margin-top: 5em;
}

.footer-image{
    height: 50%;
    width: 100%;
}

.footer-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
}

.footer-background{
    background-image: 
    url('../../../assets/images/Background-Footer-Tiamat-1.png');
    /* --opacidad-negro: 0.5; */
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    padding-top: 4em;
    justify-content: center;
    flex-direction: column;
    position: relative;
}